{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3 " >
        <table class="table ">
            <thead >
            <tr>

                <th>Area</th>

            </tr>
            </thead>
            <tbody>
            {% for area in areas %}
                <tr>

                    <td><a href="{{path('destiByArea',{'id':area.id})}} ">{{ area.areaname }}</a></td>

                    <td>
                        {#                        <a href="{{ path('todo_details', {'id': product.id}) }} " class='btn btn-success'>View</a>#}
                        {#                        <a href="{{ path('todo_edit', {'id': product.id}) }}" class='btn btn-default'>Edit</a>#}
                        {#                        <a href="{{ path('todo_delete', {'id': product.id}) }}" class='btn btn-danger'>Delete</a>#}

                        <a href="{{ path('area_edit',{'id':area.id}) }}" class='btn btn-default'>Edit</a>
                        <a href="{{ path('area_delete', {'id': area.id}) }} "class='btn btn-danger'>Delete</a>                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container" >
        <table class="table table-bordered table-sm ">
            <thead class="table-dark">
            <tr>

                <th>Destination Name</th>
                <th>Memory</th>
                <th>Address</th>
                <th>Date</th>
                <th>Image</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for destination in destinations %}
                <tr>

                    <td>{{ destination.desname }}</td>
                    <td>{{ destination.memory }}</td>
                    <td>{{ destination.address }}</td>
                    <td>{{ destination.date|date('F j,Y, g:i a') }}</td>
                    <td><img src="{{ asset('upload/destiImages/' ~ destination.Image) }}" style="width: 50px; height: 50px"><td>

                        {#                        <a href="{{ path('todo_details', {'id': product.id}) }} " class='btn btn-success'>View</a>#}
                        {#                        <a href="{{ path('todo_edit', {'id': product.id}) }}" class='btn btn-default'>Edit</a>#}
                        {#                        <a href="{{ path('todo_delete', {'id': product.id}) }}" class='btn btn-danger'>Delete</a>#}
                        <a href="{{path('desti_details',{'id':destination.id})}} " class='btn btn-success'>View</a>
                        <a href="{{ path('desti_edit',{'id':destination.id}) }}"class='btn btn-success'>Edit</a>
                        <a href="{{ path('desti_delete', {'id': destination.id}) }} "class='btn btn-danger'>Delete</a>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
