{% extends 'admin.html.twig' %}
{% block body %}
    <div class="container">
        <div class="bs-example" data-example-id="striped-table">
            <h2 style="text-align: center">CONTACT</h2>
            <table class="table table-bordered">
                <thead>
                <tr style="background-color: black;color: #FFFFFF" >

                    <th> Name</th>
                    <th>Email</th>
                    <th>Description</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for contactus in contactus %}
                    <tr>
                        <td>{{ contactus.name }}</td>
                        <td>{{ contactus.email }}</td>
                        <td>{{ contactus.description }}</td>

                        <td>

                            {#                        <a href="{{ path('admin_delete', {'id': contactus.id}) }}" class='btn btn-danger'>Delete</a>#}

                            <a href="{{ path('contact_delete', {'id': contactus.id}) }} "class='btn btn-danger'>Delete</a>                    </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}